/* So much like my first comment in the HTML file, I want to sort of explain myself here. I struggled a lot with this coding. I would have a problem, find a solution,
the problem would be fixed, but it would also undo 3 hours of previous work. Also I don't know why, but GitHub took FOREVER to update sometimes, like sometimes up to 10 minutes
so I couldn't always check to see if what I updated worked or not. I didn't want to change something minor and then have to wait 10 minutes every time I updated, so sometimes
I would be several updates in and then it would FINALLY update and there would be several issues that pop up. So that was the cause of a lot of frustration. */

/* I tried to upload a font type, but it didn't take for some reason */

html {
	height: 1020px;
}

html, body, header {
	width: 960px;
}

header, footer {
	background-color: rgb(124,197,118);
}

header {
	height: 233px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 960px;
	text-align: left;
}

/* The footer was such a pain to work with, I can't figure out why, but it would not stay at the bottom of the page. The green rectangle would jump right below the header */
/* The links would stay in the correct spot, but the copyright text would jump up below the aside.*/
/* Having the footer in a fixed position was the only way I could get it to stay at the bottom*/

header.img {
	float: left;
	width: 113px;
	height: 113px;
	position: relative;
}

h1, header.img {
	display: inline-block;
}


h1 {
	position: relative;
	left: 243px;
	top: -45px; 
}

/* I don't know if the title is where it's suppose to be, but this is the closest that I could make it */

.box-container {
	float: center;
	display: flex;
}

.box {
	background-color: #6dcff6;
	width: 164px;
	height: 64px;
	flex-basis: 164px;
	margin: 15px;
	border-radius: 5px;
}

.box {
	text-align: center;
	font-size: 24px;
}

/* I could not for the life of me get the text in the boxes to shift into the center of the boxes. I tried everything that I could think of, but anytime the words would
center, the boxes would shift position, which is confusing. I really don't know. */

body {
	background-image: url("img folder/playstation-pattern.png");
}


aside {
	width: 303px;
	height: 393px;
}

main {

	float: left;
	margin: 0 1.5%;
	width: 63%
}

aside {
	float: right;
	margin: 1.5% 1.5%;
	width: 30%;
}

h3{
	float: left;
	margin: 0 1.5%;
	width: 100%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}

.row::after {
  content: "";
  clear: all;
  display: table;
}

figcaption {
	text-align: center;
}
/* I don't know why the text isn't 100% centered*/


a {
	float: right
}