@charset "uft-8";
head, body, footer {
	width: 960px;
	}

header, footer {
	background: rgb(124,197,118);
	background-size: cover;
}
h1 {
	font-size: 40px;

}

.box {
	width: 164px;
	height: 64px;
	padding: 10px;
	background: #6dcff6;
	font-size: 24px;
	border: 0;

}

.box {
	position: relative;
	top: 20px
	left:20px;
}

.b1 {
	position: absolute;
	top: 143px;
	left: 61px;
	z-index: 1;


}



header.img {
	float: left;
	width: 113px;height: 113px
	}


body {
	background-image: url("img folder/playstation-pattern.png");
	}