@font-face {font-family: Source Sans Pro; src:url(SourceSansPro-Regular.otf); }

html {
	font-family: "Source Sans Pro" 
}

html, body {
	width: 960px;
}

header, footer {
	background-color: rgb(124,197,118);
	background-size: auto;
}

header {
	width: 960px;
	height: 233px;
	padding: 20px;
}