@font-face {font-family: Source Sans Pro; src:url(SourceSansPro-Regular.otf); }

html {
	font-family: "Source Sans Pro" 
}

html {
	height: 1020px;
}

html, body, header, footer {
	width: 960px;
}

header, footer {
	background-color: rgb(124,197,118);
	background-size: auto;
}

header {
	height: 233px;
	padding: 20px;
}
header.img {
float: left;
width: 113px;
height: 113px;
}
h1 {
	position: relative;
	left: 243px;
	top: 45px; 
}

.box-container {
	display: flex;
}

.box {
	background-color: #6dcff6;
	width: 164px;
	height: 64px;
	flex-basis: 164px;
	margin: 5px;
	border-radius: 15px;
}

.box {
	text-align: center;
	font-size: 24px;
}


body {
	background-image: url("img folder/playstation-pattern.png");
}

aside {
	width: 303px;
	height: 393px;
}

main {

	float: left;
	margin: 0 1.5%;
	width: 63%
}

aside {
	float: right;
	margin: 1.5% 1.5%;
	width: 30%;
}

h3{
	float: left;
}

figure figcaption {
	text-align: center;
}
