@charset "utf-8";

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p,
a, address, img, small, tt, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, thead, tr, th, td,
article, aside, figure, figcaption, footer, header,  nav, output, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: /* add this later??*/;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table, td,th {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	border-spacing: 0;