@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url("../img/symphony.png");
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-family: arial, sans-serif;
	text-align: center;
	margin: 1.5% 1.5% 1.5% 1.5%;
}

th {
	width: 100px;
	height: 20px;
	text-align: center;
	color: #72a9ae;
	font-family:"Bitter", serif;
	padding: 8px;
}

tr.day-cells {
	background-color: white;
}

.class-cells:nth-child(even) {
	background-color: #efefef;
	height: 20px;
}

.class-cells:nth-child(odd) {
	background-color: none;
	height: 20px;
}

table, td, th {
	border: 1px solid black;
}

h2 {
	color: #72a9ae;
	font-family:"Bitter", serif;
	height: 20px;
}

.main-nav-container {
	background-color: #72a9ae;

}

ul.main-nav-container {
	overflow: hidden;
	background-color: #72a9ae;
}

li.main-nav-container {
	float: left;
}

li.main-nav-container, a.main-nav-container {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

header {
	height: 107px;
	background-color: white;
}


p {
	float: left;
	margin: 0 1.5%;
	width: 60%;
}



label {
	width: 224px;
	display: inline-block;
}

img {
	float: right;
	margin: 1.5% 1.5%;

}


.col-footer {
	background-color: #454545;
}

aside#profile-info {
	float: right;
	margin: 1.5% 45% 0 0;

}







.logo {
	font-family: "Bitter", serif;
	color: #72a9ae;
	font-size: 65px;
	background-color: #ffffff;
	float: left;
	padding: 10px 15px;
	display: block;
}

